#  docker run --name haproxy -v`pwd`/haproxy:/usr/local/etc/haproxy:ro --sysctl net.ipv4.ip_unprivileged_port_start=0 haproxy:2.5.3-alpine

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend inflex
  mode http
  bind 88.99.136.34:80
  bind 88.99.136.34:443 ssl crt /usr/local/etc/haproxy/ssl-bundle.pem

  # Force redirect to HTTPS
  redirect scheme https code 301 if !{ ssl_fc }
  # HSTS (63072000 seconds)
  http-response set-header Strict-Transport-Security max-age=63072000

  option forwardfor

  default_backend lbtest

backend lbtest
   mode http
   server s1 127.0.0.1:8080
